@import '~css/variables.scss';

:local .input-field {
    position: relative;
    border-bottom: 1px solid $borderColor;
    padding-bottom: 3px;
    padding-top: 9px;
    margin: 10px 3px 20px 0;

    .label {
        position: absolute;
        font-size: 12px;
        left: 0;
        font-weight: 400;
        transition: opacity 0.2s linear;
    }

    .input {
        cursor: pointer;
        width: 100%;
        border: none;
        outline: none;
        border: none;

        &:invalid + .label {
            top: 3px;
            opacity: 0;
        }

        &:valid + .label {
            top: -5px;
            opacity: 1;
        }

        &:focus + .label {
            color: $blueColor;
        }
    }
}