@import '~css/variables.scss';

:local .task-creator {

    .create-btn {
        border-radius: 5px;
        border: 1px solid $borderColor;
        cursor: pointer;
        width: 118px;
        flex: 0 0 34px;
        align-self: flex-end;
        background: white;
        font-size: 13px;
        outline: none;
        font-weight: 600;
        color: gray;

        &:hover {
            border-color: $blueColor;
        }
    }

    .field {
        margin-bottom: 20px;
    }
}
